<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ "%s %s"|format(company_name,application_name) }} {#Round Texel Medewerkers#}{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/vendor/bootswatch/spacelab/bootstrap.min.css">
            <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="assets/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
            <link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
            <link rel="stylesheet" href="assets/vendor/roundtexel/css/extender.css">
            {% block extraStylesheets %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>
    <body>
        <header>
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-md-offset-0 col-xs-4 col-xs-offset-4"><img class="img-responsive" src="https://registrations.roundtexel.com/assets/images/ROTLogo.png"></div>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    {% block navbar %}
                        <ul class="nav navbar-nav">
                            <li class="active" role="presentation"><a href="#">Home </a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Afdelingen <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for a in afdelingen %}
                                        <li role="presentation"><a href="//{{a.frontName}}.{{host}}">{{ a.frontName }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li role="presentation"><a href="{{ path("login") }}">Login </a></li>
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>
    </header>
        
        <main class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block content %}
                        {% if afdeling is defined %}
                            <form type="post" action="{{ path("afdeling", { "frontName": afdeling.frontName|raw }) }}" enctype="multipart/form-data">
                        {% endif %}
                        {% if content is defined %}
                            {{ content.waarde|raw|nl2br }}
                        {% endif %}
                        {% if afdeling is defined %}
                            </form>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </main>
        {#{% block body %}{% endblock %}#}
        {% block javascripts %}
            <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
            <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="assets/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
            <script src="assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
            {% block customscripts %}{% endblock %}
        {% endblock %}
    </body>
</html>